.representative
  .header.comenta
    %span.author= comentario.author
    hizo un comentario:
  %p
    = "\"#{comentario.comment}\""
  %p= I18n.localize(comentario.created_at, :format => :month_year).capitalize