.box
  .box-title
    %h2 Partidos Politicos

  .box-content
    #datatable_wrapper.dataTables_wrapper{role: 'grid'}
      #datatable_length.dataTables_length
        = link_to 'Nuevo Partido Politico', new_admin_political_party_path  , :class => [:btn, 'btn-primary']

        %table.table.table-striped.table-bordered.dataTable
          %thead
            %tr
              %th Nombre
              %th Logotipo
              %th

          %tbody
            = render @political_parties

          %tfoot
            %tr
              %th Nombre
              %th Logotipo
              %th


      #datatable_paginate.dataTables_paginate.paging_full_numbers
        = paginate @political_parties