.box
  .box-title
    %h2 Nueva Comision
  
  .box-content
    = form_for [:admin, @commission], :html => {:multipart => true, class: 'form-horizontal'} do |form|
      = render "admin/shared/error_messages", :target => @commission
      %fieldset
        = render :partial => 'form', :locals => {:form => form}
        .form-actions
          = form.submit 'Crear Comision', :class => 'btn btn-primary'
          %input{:type => 'reset', :class => 'btn', :value => 'Limpiar'}