%tr
  %td= topic.name
  %td= link_to 'Editar', edit_admin_topic_path(topic)
  %td= link_to 'Borrar', admin_topic_path(topic), :method => :delete, :confirm => '¿Esta seguro que desea eliminar el tema?'