.box
  .box-title
    %h2 Editar Tema

  .box-content  
    = form_for [:admin, @topic], :html => {:multipart => true} do |form|
      = render "admin/shared/error_messages", :target => @topic
      %fieldset
        = render :partial => 'form', :locals => {:form => form}
        .form-actions
          = form.submit 'Editar Tema', :class => 'btn btn-primary'
          %input{:type => 'reset', :class => 'btn', :value => 'Limpiar'}