.page-header
  %h2 Temas

= link_to 'Nuevo Tema', new_admin_topic_path  , :class => [:btn, :primary]
%br
%br


%table.zebra-striped
  %thead
    %tr
      %th Tema
      %th
      %th

  %tbody
    = render @topics

= paginate @topics