%h2 buscar integrantes

= form_tag search_representative_path, :method => :post do |form|
  = text_field_tag 'search[name]', '', :class => :input, :placeholder => 'buscar por nombre'
  = select_tag 'search[political_party]', options_from_collection_for_select(PoliticalParty.all, :id, :name), :class => :input
  = submit_tag :buscar, :class => :button