= image_tag('front/banner-home.png')

= render 'show' if  Configurable.initiatives?


<script>
jQuery(function($){
$(".tweet").tweet({
username: "curul501",
count: 3,
loading_text: "cargando tweets...",
template: "{text}"
});
});
</script>