.page-header
  %h2 Editar Representante
= form_for [:admin, @representative], :html => {:multipart => true} do |form|
  = render "admin/shared/error_messages", :target => @representative
  %fieldset
    = render :partial => 'form', :locals => {:form => form}
    .actions
      = form.submit 'Editar Representante', :class => 'btn primary'
      %input{:type => 'reset', :class => 'btn', :value => 'Limpiar'}