.page-header
  %h2 Representantes

= link_to 'Nuevo Representante', new_admin_representative_path  , :class => [:btn, :primary]
%br
%br

%table.zebra-striped
  %thead
    %tr
      %th Nombre
      %th
      %th

  %tbody
    = render @representatives

= paginate @representatives