// Place all the styles related to the admin/representatives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-list {
  li {
    a {
      &.hand {
        cursor: pointer;
      }
    }
  }
}

#comments-chart {
  height: 250px;
  width: 95%;
}

#views-chart {
  height: 250px;
  width: 95%;
}