@import "compass";
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "blueprint";

body {
  text-align: center;
}

body > .container, .container-fluid { padding-top: 50px !important}

html { background: url("/assets/front/footer-bg.png") 0 bottom repeat-x, url("/assets/front/second-bg.png") repeat-x, url("/assets/front/main-bg.png")  }

body {
  @include trebuchet-font($dark-grey, 13px);
  
  .margin-left-15 {margin-left: 15px;}
}

a { 
  @include trebuchet-font($dark-grey, 13px); 

  &:hover { text-decoration:none; }
}

span {
  &.disclaimer {
    @include column-base(true);
    @include arial-font(#c5c5c5, 11px);
    padding: 20px;
  }
  
  &.button-up {
    background: url(/assets/front/up.png) no-repeat;
    display: inline-block;
    height: 25px;
    margin: 0 100px;
    width: 30px;
  }
  
  &.button-down {
    background: url(/assets/front/down.png) no-repeat;
    display: inline-block;
    height: 25px;
    margin: 0 100px;
    width: 30px;
  }
}

ul {
  &.follow {
    @include column-base(true);
    float: right;
    
    img { margin: 0;}
    
    li {
      @include cuprum-font($mulberryish-gray, 13px, uppercase);
      border-right: 2px solid $white;
      float: left;
      width: 30px;
      height: 35px;
      
      &:first-child {
        background: url('/assets/front/follow-bg.png') repeat-x;
        height: 27px;
        padding: 8px 0 0 10px;
        width: 75px;
      }
      
    }
  }
}

#container {
  @include column(24,true);
  float:none;
  display:block;
  margin:0 auto;
  text-align: left;
}

h1 {
  @include cuprum-font($mulberryish-gray, 36px, uppercase);
  background: url("/assets/front/h1-bg.png") repeat-x;
  margin: 40px 0 0 0;
  padding: 20px 5px 20px 0;
  
  a{
    @include cuprum-font($mulberryish-gray, 36px, uppercase);
    text-decoration: none;
    
    &:hover {text-decoration: none;}
  }
}

h2 {
  @include trebuchet-font($dark-mulberry, 18px, uppercase);
  border-bottom: 1px solid $grey; 
  margin: 20px 10px 10px 20px;
  padding: 0 0 5px;
  
  &.estrella {
    @include trebuchet-font($dark-grey, 18px);
    background: url('/assets/front/star.png') no-repeat;
    border-bottom: 1px solid $grey;
    padding-left: 30px;
  }
  
  article & {
    margin: 20px 10px 10px 0px;
  }
}

h3 {
  font-size: 24px;
}

h4 {
  border-bottom: 1px solid $grayish-cyan;
  color: $grayish-cyan;
  font-size: 14px;
  padding: 10px 0 5px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

header {
  @include column(24,true);
  margin-bottom: 12px;
  
  .logo, .navigation { float: left;}
  
  .logo {
    @include column(5);
    img { margin-top: 25px; }
  }
  
  .navigation {
    @include column(19, true);
    text-align: right;

    div { @include column(19, true);}

    nav {
      float: right;
      margin-top: 30px;
      ul {
        list-style: none;
        li {
          border-left: 1px solid $grey;
          float: left;
          padding: 0 25px 0 5px;
          a {
            @include cuprum-font($grey, 13px, uppercase);
          }
        }
      }
    }
  }
}

section#main-content {
  @include column(24,true);
}

footer {
  @include column(24,true);
  @include trebuchet-font($very-dark-persian-blue, 13px);
  height: 190px;
  margin: 20px 0 0 0;

  ul {
  
    &.logo {
      float: right;
      
      li { border: 0;}
    }
    
    li {
      float: left;
      border-left: 1px solid $very-dark-persian-blue;
      margin: 0 10px 0 0;
      padding: 10px;
    }
  }
}

.input-text {
  @include trebuchet-font($dark-grey, 14px);
  background-color: $light-yellowish-gray;
  border: 0 none;
  box-shadow: none;
  height: 30px;
  margin: 0 0 0 20px;
  padding: 5px;
}

.submit-button {
  @include cuprum-font($white, 14px, uppercase);
  background-color: $dark-mulberry;
  border: 0 none;
  box-shadow: none;
  height: 30px;
}

aside {
  @include column(6);
  background-color: $nu-white;
  padding-bottom: 10px;
  min-height: 600px;
  
  .input {
    @extend .input-text;
    margin-bottom: 10px;
    width: 190px;
  }
  
  .button {
    @extend .submit-button;
    color: $white;
    margin: 5px 0 0 20px;
    width: 200px;
  }
  
  ul {
    &.ul-aside {
      @include trebuchet-font($dark-grey, 13px, capitalize);
      margin: 0 0 0 20px;

      li {
        display: block;
        margin: 0 0 10px 0;
        
        a{ @include trebuchet-font($dark-grey, 13px, capitalize);}
      }
    }
  }
  
  textarea { height: 100px !important; }
}

article {

  &#content {
    @include column(16, true);
    @include push(1);
    background-color: $nu-white;
  }
}

.hide {display: none;}
.show {display: block;}
.fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;
  
  .in{opacity: 1;}
}

.tweet {
  @include arial-font($dark-grey, 13px, none);
  margin: 0 0 100px 20px;
  overflow: hidden;
  width: 200px;
  
  ul {
    li {
      border-bottom: 1px solid $grey-2;
      margin: 10px 0 0 0;
      min-height: 50px;
      padding: 0 0 10px 0;
      
      a {
        font-size: 13px;
        text-transform: none;
        
        &:hover { color: $dark-grey;}
      }
    }
  }
}