$dark-grey: #606060;
$grey: #999999;
$grey-2: #c7c5c5;
$grayish-cornflower-blue: #80adcc;
$very-dark-persian-blue: #111018;
$white: #ffffff;

$light-yellowish-gray: #f0f0ea;
$grayish-cyan: #99cccc;
$light-cyanish-gray: #b7e1e1;
$light-amberish-gray: #d6d1c5;

$nu-white: #fefbf6;
$dark-mulberry: #512561;
$light-amber: #f6e294;
$arctic-bluish-gray: #a6cdd1;
$mulberryish-gray: #a89eab;
$dark: #000000;
$light-brilliant-amber: #ffcc33;
$light-brownish-gray: #efeae4;