@mixin cuprum-font($color, $size, $transform: none) {
  color: $color;
  font-family: 'Cuprum', sans-serif;
  font-size: $size;
  font-weight: normal;
  text-transform: $transform;
}

@mixin arial-font($color, $size, $transform: none) {
  color: $color;
  font-family: Arial, san-serif;
  font-size: $size;
  font-weight: normal;
  text-transform: $transform;
}

@mixin trebuchet-font($color, $size, $transform: none) {
  color: $color;
  font-family: "Trebuchet MS", sans-serif;
  font-size: $size;
  font-weight: normal;
  text-transform: $transform;
}
