@mixin terminal-font($weight, $color, $size, $transform: none) {
  color: $color;
  font-family: 'Terminal Dosis', sans-serif;
  font-size: $size;
  @if $weight == light {
      font-weight: 200;
    } @else if $weight == semi-bold {
      font-weight: 600
    } @else {
      font-weight: 500;
    }
  text-transform: $transform;
}

@mixin cuprum-font($color, $size, $transform: none) {
  color: $color;
  font-family: 'Cuprum', sans-serif;
  font-size: $size;
  font-weight: normal;
  text-transform: $transform;
}

@mixin arial-font($color, $size, $transform: none) {
  color: $color;
  font-family: Arial, san-serif;
  font-size: $size;
  font-weight: normal;
  text-transform: $transform;
}

@mixin trebuchet-font($color, $size, $transform: none) {
  color: $color;
  font-family: "Trebuchet MS", sans-serif;
  font-size: $size;
  font-weight: normal;
  text-transform: $transform;
}
