// Place all the styles related to the congresistas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  &.congresistas {
    article {
      @extend #content;
      padding: 0 10px 15px 30px;

      .primera-columna {
        @include column(6,true);
        @include append(1);
      }

      .segunda-columna {
        @include column(9, true);
      }

      .comentarios {
        @include column(16, true);
        border-top: 1px solid $grey-2;
        border-bottom: 1px solid $grey-2;

        p {
          @include arial-font($dark-grey, 13px);
          border-top: 1px solid $grey-2;
          padding-top: 10px;
        }
      }
    }
    
    section {
      @include column(17, true);
      padding: 10px 0;
      
      &.entidades {
        @include column(17, true);
        background: url('/assets/front/h1-bg.png') repeat-x top, url('/assets/front/h1-bg.png') repeat-x bottom;
        padding: 12px 0;
        margin: 10px 0 20px 40px;
        
        section {
          border-top: 1px solid $light-amberish-gray;
          border-bottom: 1px solid $light-amberish-gray;
          
          ul.column {
            @include column-base(true);
            border-left: 1px dashed $grey;
            height: 365px;
            padding: 0 0 0 15px;
            width: 130px;
            
            &:first-child { width: 215px; }
            
            li {
              @include arial-font($dark-grey, 13px, uppercase);
              padding: 10px 0;
              
              img {
                width: 15px;
                margin: 0 5px 0 0;
              }
            }
          }
        }
      }
    }
    
    aside {
      background-color: $white;
      min-height: 0;
    }
    
    p {
      margin-bottom: 10px;

      span {
        display: block;
        color: $grayish-cyan;
        text-transform: uppercase;
        
        &.nombre { font-size: 18px; color: $dark-grey;}
      }
    }
    
    ul {
      &.iniciativas {
        list-style: none;

        li {
          border-bottom: 1px solid $grey-2;
          margin: 0 0 5px;
          padding: 0 0 5px;
        }
      }
    }
  }
}
