// Place all the styles related to the entiende controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  &.entiende, &.abc_legislativo, &.proceso_legislativo, &.funciona_congreso {

    .tabs {
      padding: 0 10px;
      width: 97%;
    }
    
    article {
      @include column(24 ,true);
      background-color: $nu-white;
      padding-bottom: 15px;

      iframe {
        margin: 10px 92px;
      }

      .descripcion {
        @include trebuchet-font($dark, 13px);
        padding: 10px;
      }
    }

    aside {
      @include column(24, true);
      background: url('/assets/front/h1-bg.png') repeat-x top, url('/assets/front/h1-bg.png') repeat-x bottom;
      background-color: transparent;
      padding: 12px 0;
      margin: 20px 0 10px;
      min-height: 0;

      ul {
        @include column(24, true);
        border-top: 1px solid $light-amberish-gray;
        border-bottom: 1px solid $light-amberish-gray;
        
        li {
          @include column(5);
          height: 230px;
          padding: 15px 20px;
          
          h4 {
            @include cuprum-font($dark, 13px, uppercase);
            border-bottom: 1px solid $dark;
          }
          
          &.selected {
            background-color: $white;
          }
          
          &:last-child { @include last;}
        }
        
      }
    }
    
    ul {
      &.tabs {
        li {
          a {
            text-transform: capitalize;
          }
        }
      }
    }
    
    .comisiones, .trabajo_legislativo, .poder_legislativo {
      width: 780px;
      padding: 10px;
      margin: 10px 92px;
      
      p {
        margin: 10px 0;
      }
    }

    .comisiones, .trabajo_legislativo {
      display: none;
    }
  }
}

#entiende-horizontal {

  .comisiones, .trabajo_legislativo, .poder_legislativo {
    padding: 10px;
  }

  .comisiones, .trabajo_legislativo {
    display: none;
  }
}