// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-page {
  article {
    &#home {
      @extend #content;
      padding: 20px;

      img {
        @include column(7);
        margin-top: -60px;
      }
      
      form {
        @include column(9, true);
        
        label {
          font-size: 18px;
          text-align: left;
          width: 160px;
        }
        
        input {
          @extend .input-text;
          @include column(9, true);
          margin: 0 0 35px 0;
          width: 330px;
          
        }
        
        select {
          @extend .input-text;
          @include column(4);
          margin-left: 0;
        }
        
        .input {
          @include column(4);
          margin-left: 0;
        }
        
        .button {
          @include column(4);
          background-color: $grayish-cyan;
          color: $white;
          font-size: 30px;
          height: 50px;
          margin-top: 35px;
        }
        
      }

      h2 {
        padding-left: 280px;
      }
    }
  }

  aside {
    min-height: 430px;
    
    p {
      @include arial-font($dark-grey, 11px, capitalize);
      margin: 0 0 10px 20px;

      &.info {
        span {
          color: $dark-mulberry;
        }
      }

      &.description {
        color: $very-dark-persian-blue;
        border-bottom: 1px solid $grey;
        margin-bottom: 0 5px 5px 20px;
        padding-bottom: 20px; 
      }
    }

    ul {
      
      &.info {
        @include column-base;
        font-size: 11px;
        width: 125px;
        
        li {
          border-bottom: 1px solid $grey;
          padding: 10px 0;
          
          span {
            @include arial-font($very-dark-persian-blue, 11px);
            display: block;
          }
        }
      }
    
      &.colores {
        @include column-base;
        text-align: right;
        width: 85px;

        li {
          @include terminal-font(normal, $white, 12px);
          margin-top: 5px;
          padding: 0 5px 0 0;

          a{
            @include terminal-font(normal, $white, 12px);
          }

          span {
            @include terminal-font(semi-bold, $white, 60px);
          }

          &.comenta {
            background: url("/assets/front/comenta-bg.png") no-repeat scroll 3px 10px $dark-mulberry;
            height: 35px;
            padding-top: 5px;
          }

          &.votos {
            background-color: $light-amber;
            height: 75px;
          }

          &.comentarios {
            background-color: $arctic-bluish-gray;
            height: 75px;
          }
        }
      }
    }
  }

  .main-banner {
    @include column(24, true);
    background-color: $white;
    margin: 20px 0 20px 0;

    img {
      margin-left: 15px;
    }
  }
}