// Place all the styles related to the iniciativas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html {
  &.iniciativas, &.search_initiatives, &.temas {
    section {
      &.container {
        @include column(18, true);
      }
    }

    .pagination {
      float: right;
      .active a { background-color: $arctic-bluish-gray; }  
      a {
       &:hover { background-color: $light-amber; }
      }
    }
    
    .first-child {
      @include arial-font($dark-grey, 13px, uppercase);
      border: 0;
      padding-right: 5px;
      text-align: right;
      width: 120px;
    }
  
    #separator {
      @include column(17, true);
      background-color: $light-amber;
      height: 20px;
      margin: -12px 0 0 -30px;
    }
    
    .votaciones { @include column-base(true);}
    
    .no-border { border: 0;}
    
    .haz-comentario {
      @include column(17, true);
      background: url('/assets/front/h1-bg.png') repeat-x top, url('/assets/front/h1-bg.png') repeat-x bottom;
      margin: 0 0 20px 40px;
      padding: 12px 0;
      
      .comenta-content {
        @include column(17, true);
        border-top: 1px solid $light-amberish-gray;
        border-bottom: 1px solid $light-amberish-gray;
        
        form {
          float: left;
          margin: 0 0 20px 20px;
        }
        
        .form-inputs {
          display: inline;
          float: left;
          width: 400px;
          
          label { 
            float: none;
            
            &.contra {margin-left: 50px}
          }
        }

        p {
          margin-bottom: 10px;
        }

        textarea {
          height: 150px;
          margin: 10px 0 0;
        }

        .submit {
          @extend .submit-button;
          color: $white;
          font-size: 24px;
          height: 40px;
          margin: 80px 0 0 15px;
        }
      }
    }
  
    ul {
      @include column-base(true);
      margin-top: 10px;
      
      &.votacion-local {
        border-top: 1px solid $grey-2;
        width: 610px;

        li {
          @include trebuchet-font($dark-grey, 12px, uppercase);
          float: left;
          height: 24px;
          padding-top: 6px;
          text-align: center;

          a {
            @include trebuchet-font($dark-grey, 12px, uppercase);
          }

          &.a-favor {
            background-color: $grey-2;
            min-width: 57px;
            max-width: 327px;
          }

          &.en-contra {
            color: $grey-2;
            min-width: 57px;
            max-width: 327px;
          }

          &.no-votada {
            border: 1px solid $grey-2;
            width: 190px;
          }

          &:first-child {@extend .first-child;}
        }

        &:first-child {@extend .first-child;}
      }
      
      &.votacion-oficial {
        border-top: 1px solid $grey-2;
        width: 610px;

        li {
          @include trebuchet-font($dark-grey, 12px, uppercase);
          float: left;
          height: 24px;
          padding-top: 6px;
          text-align: center;

          &.a-favor {
            background-color: $light-cyanish-gray;
            min-width: 57px;
            max-width: 327px;
          }

          &.en-contra {
            color: $grey-2;
            min-width: 57px;
            max-width: 327px;
          }

          &.no-votada {
            border: 1px solid $grey-2;
            width: 383px;
          }

          &:first-child {
            @extend .first-child;
          }
        }
      }
      
      &.botones{
        margin: 30px 0 0 0;
        
        li {
          float: left;
          height: 40px;
          margin: 0 20px 0 0;
          width: 190px;
          
          &.first-child { margin-left: 20px;}
          
          a {
            @include cuprum-font($white, 15px, uppercase);
            height: 40px;
            width: 190px;
            
            &.favor {
              background: url("/assets/front/vote.png") no-repeat 34px 2px #9cbc5b;
              padding: 13px 35px 13px 75px;
            }
            
            &.contra {
              background: url("/assets/front/vote.png") no-repeat 34px 2px #e18383;
              padding: 13px 20px 13px 75px;
            }
            
            &.comenta {
               background: url("/assets/front/comenta-bg.png") no-repeat 40px 10px #594461;
               padding: 13px 62px 13px 75px;
            }
          }
        }
      }
    }

    article {
      &.iniciativa {
        @extend #content;
        padding: 0 10px 30px 30px;

        .comments { 
          @include column(7);
          margin: 10px 10px 0 0;
          
          &.push { @include push(1); margin-top: 10px}
          
           h4 {
            border: 0;
            color: $white;
            height: 20px;
            padding: 7px 0 0 5px; 
            width: 200px;

            &.favor{
              background-color: #9cbb5b;
            }

            &.contra {
              background-color: #e08383;
            }

          }
        }
        
        &.main {
          background-color: white;
        }
        
        p {
          a {
            @include arial-font($dark-mulberry, 13px, uppercase);
            display: block;
            margin: 10px 0 0;
          }
        }
        
        .main {@include column-base(true);}

        .content {
          @include column(13);

          ul {
            @include column(13);
            margin-bottom: 10px;

            &.temas {
              @include arial-font($mulberryish-gray, 13px, capitalize);
              margin-bottom: 5px;

              li {
                 border-left: 1px solid $mulberryish-gray;
                 float: left;
                 padding: 0 10px;
                 
                a {
                  @include arial-font($mulberryish-gray, 13px, capitalize);
                }

                &:last-child {
                  border-right: 1px solid $grayish-cyan;
                }
              }
            }

            &.estado {
              border-top: 1px solid $grey-2;

              li {
                @include trebuchet-font($dark-grey, 13px, uppercase);
                border: 1px solid $grey-2;
                float: left;
                height: 24px;
                margin-left: 1px;
                padding-top: 6px;
                text-align: center;
                width: 93px;
                
                &.presentation { background-color: #a196a5;}
                &.commission { background-color: #827387; }
                &.plenary { background-color: #5b4763; }
                &.project { background-color: #34193e; }

                &:first-child {
                  @extend .first-child;
                }
              }
            }

            &.votacion-oficial {
              border-top: 1px solid $grey-2;

              li {
                @include trebuchet-font($dark-grey, 13px, uppercase);
                float: left;
                height: 24px;
                padding-top: 6px;
                text-align: center;

                &.a-favor {
                  background-color: $light-cyanish-gray;
                  min-width: 57px;
                  max-width: 327px;
                }

                &.en-contra {
                  color: $grey-2;
                  min-width: 57px;
                  max-width: 327px;
                }

                &.no-votada {
                  border: 1px solid $grey-2;
                  width: 383px;
                }

                &:first-child {
                  @extend .first-child;
                }
              }
            }

            &.votacion-local {
              border-top: 1px solid $grey-2;

              li {
                @include trebuchet-font($dark-grey, 13px, uppercase);
                float: left;
                height: 24px;
                padding-top: 6px;
                text-align: center;

                a {
                  @include trebuchet-font($dark-grey, 13px, uppercase);
                }

                &.a-favor {
                  background-color: $grey-2;
                  min-width: 57px;
                  max-width: 327px;
                }

                &.en-contra {
                  color: $grey-2;
                  min-width: 57px;
                  max-width: 327px;
                }

                &.no-votada {
                  border: 1px solid $grey-2;
                  width: 190px;
                }

                &:first-child {@extend .first-child;}
              }

              &:first-child {@extend .first-child;}
            }
            
            &.etapa {
              li {
                @include trebuchet-font($dark-grey, 13px, uppercase);
                border-left: 1px solid  $grey-2;
                float: left;
                height: 24px;
                padding-top: 6px;
                padding-left: 5px;
                text-align: left;
                width: 370px;
                
                &:first-child { border: 0; @extend .first-child;}
              }
            }
            
            &.recursos {
              li {
                border-left: 1px solid  $grey-2;
                float: left;
                padding-left: 5px;
                
                &:first-child { border: 0; @extend .first-child;}
              }
            }
          }
        }

        .aside {
          @include column(3, true);

          ul {
            @include column-base;
            text-align: right;
            margin: 0 0 0 30px;
            width: 85px;

            li {
              @include trebuchet-font($white, 13px, uppercase);
              margin-top: 5px;
              padding: 0 5px 0 0;

              a{
                @include trebuchet-font($white, 13px, uppercase);
              }

              span {
                @include trebuchet-font($white, 60px);
              }

              &.comenta {
                background: url("/assets/front/comenta-bg.png") no-repeat scroll 3px 10px $dark-mulberry;
                height: 35px;
                padding-top: 5px;
              }

              &.votos {
                background-color: $light-amber;
                height: 75px;
              }

              &.comentarios {
                background-color: $arctic-bluish-gray;
                height: 75px;
              }

              &.share {
                .share-fb {
                  iframe {
                    display: block;
                  }
                }
                .share-tw {
                  margin-top: 5px;
                }
              }
            }
          }
        }

        p {
          @include arial-font($dark-grey, 13px, capitalize);
          margin-bottom: 10px;

          &.info {
            padding: 30px 0 0 0;
            span a {
              @include arial-font($dark-grey, 13px, capitalize);
              color: $dark-mulberry;
            }
          }

          &.comment {
            border-bottom: 1px solid $grey-2;
            padding-bottom: 10px;
            margin-bottom: 10px;
            
            span {
              @include arial-font($dark-mulberry, 11px, uppercase);
              background: url('/assets/front/mensaje.png') no-repeat;
              display: block;
              font-weight: bold;
              height: 30px;
              padding: 5px 0 0 30px;
            }
          }

          &.description {
            @include arial-font($dark-grey, 13px, none);
            color: $very-dark-persian-blue;
            margin-bottom: 40px;
            a {
              @include arial-font($dark-grey, 13px, none);
            }
          }
        }
      }
    }
  
    .modal {
      textarea {
        height: 150px;
      }
    }
  }
}