// Place all the styles related to the regiones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  &.regiones {
    table {
      border: 1px solid #dddddd;
      color: $grayish-cyan;
      margin-top: 10px;

      a {
        color: $grayish-cyan;
      }

      tr {
        td, th {
          border-left: 0;
        }
        &:hover {
          td {
            background-color: #f5fafa;
          }
        }
        &.last {
          border-bottom: 1px solid #333;
        }
      }
    }
    article {
      @extend #content;
      padding: 0 10px 15px 30px;

      p {
        margin-bottom: 10px;
      }
    }
  }
}