/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require twitter-bootstrap
 *= require token-input-facebook
 *= require admin/imperio
 *= require_tree ./admin
*/

.bottom-margin-20 { margin-bottom: 20px;}

#loader {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1010;
  opacity: .4;
}
    
#loader img {
  position: relative;
  top: 30%;
  left: 35%;
}