%h1 entiende tu congreso

= render :partial => 'shared/entiende_aside'

%article
  %h2 ¿Como funciona curul 501?
  %iframe{:src => "http://player.vimeo.com/video/26438406?portrait=0&amp;color=ff9933", :frameborder => "0", :height => "560", :width => "780"}
  .descripcion