%h1 entiende tu congreso

= render :partial => 'shared/entiende_aside'

%article
  %h2 ¿Como funciona el proceso legislativo?
  %iframe{:src => "http://kontenidosdigitales.com/proceso/", :frameborder => "0", :height => "560", :width => "780"}
  .descripcion