!!!
%html{:lang => "en"}
  %head
    %title Dashboard - Imperio Admin
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "admin", :media => "all"
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .container-fluid
      .row-fluid
        .span12
          .box.login
            .box-title
              %span.ico
                %i.icon-lock
              Login
            .box-content
              = yield